[submodule "mujoco"]
	path = mujoco
	url = https://github.com/google-deepmind/mujoco.git
[submodule "mujoco_menagerie"]
	path = mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
[submodule "unitree_mujoco"]
	path = unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco.git
[submodule "DeepMimic_mujoco"]
	path = DeepMimic_mujoco
	url = https://github.com/mingfeisun/DeepMimic_mujoco.git
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git
[submodule "unitree_rl_gym"]
	path = unitree_rl_gym
	url = https://github.com/unitreerobotics/unitree_rl_gym.git
[submodule "pi05_minimax_vla"]
	path = pi05_minimax_vla
	url = git@github.com:vitorcen/minimax_vla.git
[submodule "KungfuBot"]
	path = KungfuBot
	url = https://github.com/TeleHuman/PBHC.git
[submodule "dependencies/robocasa"]
	path = dependencies/robocasa
	url = https://github.com/robocasa/robocasa
